-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: hospital_management_system
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `active_sessions`
--

DROP TABLE IF EXISTS `active_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `active_sessions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `session_id` varchar(128) NOT NULL,
  `user_id` int(11) NOT NULL,
  `login_at` datetime NOT NULL,
  `last_activity` datetime NOT NULL,
  `expires_at` datetime NOT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `active_department_id` int(11) DEFAULT NULL,
  `status` enum('Active','Terminated','Expired') NOT NULL DEFAULT 'Active',
  `terminated_at` datetime DEFAULT NULL,
  `terminated_by` int(11) DEFAULT NULL,
  `termination_reason` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_active_sessions_session` (`session_id`),
  KEY `idx_sessions_user_status` (`user_id`,`status`),
  KEY `idx_sessions_activity` (`status`,`last_activity`),
  KEY `idx_sessions_expiry` (`status`,`expires_at`),
  KEY `idx_sessions_department` (`active_department_id`),
  KEY `fk_sessions_terminated_by` (`terminated_by`),
  CONSTRAINT `fk_sessions_department` FOREIGN KEY (`active_department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_sessions_terminated_by` FOREIGN KEY (`terminated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_sessions_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `active_sessions`
--

LOCK TABLES `active_sessions` WRITE;
/*!40000 ALTER TABLE `active_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `active_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `visit_id` int(11) DEFAULT NULL,
  `patient_id` int(11) DEFAULT NULL,
  `module` varchar(100) NOT NULL,
  `action` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `department_id` int(11) DEFAULT NULL,
  `severity` varchar(20) NOT NULL DEFAULT 'INFO',
  `event_type` varchar(100) NOT NULL DEFAULT 'GENERAL',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_audit_user` (`user_id`),
  KEY `idx_audit_visit` (`visit_id`),
  KEY `idx_audit_patient_created` (`patient_id`,`created_at`),
  KEY `idx_audit_module` (`module`),
  KEY `idx_audit_created` (`created_at`),
  KEY `idx_audit_action_created` (`action`,`created_at`),
  KEY `idx_audit_user_created` (`user_id`,`created_at`),
  KEY `idx_audit_ip_created` (`ip_address`,`created_at`),
  KEY `idx_audit_department_created` (`department_id`,`created_at`),
  KEY `idx_audit_module_created` (`module`,`created_at`),
  KEY `idx_audit_event_created` (`event_type`,`created_at`),
  KEY `idx_audit_severity_created` (`severity`,`created_at`),
  KEY `idx_audit_visit_created` (`visit_id`,`created_at`),
  CONSTRAINT `fk_audit_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_audit_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_audit_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_audit_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=254 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinical_note_versions`
--

DROP TABLE IF EXISTS `clinical_note_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clinical_note_versions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `note_id` bigint(20) NOT NULL,
  `version_number` int(11) NOT NULL,
  `content` longtext NOT NULL,
  `content_format` enum('Plain Text') NOT NULL DEFAULT 'Plain Text',
  `version_status` enum('Draft','Signed','Amendment Proposal','Amended','Entered-in-error') NOT NULL,
  `author_id` int(11) NOT NULL,
  `department_id` int(11) DEFAULT NULL,
  `confidentiality_level` enum('Standard','Restricted','Confidential','Highly Confidential') NOT NULL DEFAULT 'Standard',
  `content_checksum` char(64) CHARACTER SET ascii COLLATE ascii_bin NOT NULL,
  `signed_by` int(11) DEFAULT NULL,
  `signed_at` datetime DEFAULT NULL,
  `amendment_reason` text DEFAULT NULL,
  `supersedes_version_id` bigint(20) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_clinical_note_version` (`note_id`,`version_number`),
  KEY `idx_clinical_note_versions_note_created` (`note_id`,`created_at`),
  KEY `idx_clinical_note_versions_author` (`author_id`,`created_at`),
  KEY `idx_clinical_note_versions_status` (`version_status`,`created_at`),
  KEY `idx_clinical_note_versions_confidentiality` (`confidentiality_level`,`created_at`),
  KEY `idx_clinical_note_versions_checksum` (`content_checksum`),
  KEY `idx_clinical_note_versions_supersedes` (`supersedes_version_id`),
  KEY `fk_clinical_note_versions_department` (`department_id`),
  KEY `fk_clinical_note_versions_signed_by` (`signed_by`),
  CONSTRAINT `fk_clinical_note_versions_author` FOREIGN KEY (`author_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_clinical_note_versions_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_clinical_note_versions_note` FOREIGN KEY (`note_id`) REFERENCES `clinical_notes` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_clinical_note_versions_signed_by` FOREIGN KEY (`signed_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_clinical_note_versions_supersedes` FOREIGN KEY (`supersedes_version_id`) REFERENCES `clinical_note_versions` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinical_note_versions`
--

LOCK TABLES `clinical_note_versions` WRITE;
/*!40000 ALTER TABLE `clinical_note_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `clinical_note_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinical_notes`
--

DROP TABLE IF EXISTS `clinical_notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clinical_notes` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `patient_id` int(11) NOT NULL,
  `visit_id` int(11) DEFAULT NULL,
  `note_type` varchar(80) NOT NULL,
  `title` varchar(200) NOT NULL,
  `department_id` int(11) DEFAULT NULL,
  `author_id` int(11) NOT NULL,
  `confidentiality_level` enum('Standard','Restricted','Confidential','Highly Confidential') NOT NULL DEFAULT 'Standard',
  `note_status` enum('Draft','Signed','Amended','Entered-in-error') NOT NULL DEFAULT 'Draft',
  `current_version` int(11) NOT NULL DEFAULT 1,
  `signed_by` int(11) DEFAULT NULL,
  `signed_at` datetime DEFAULT NULL,
  `locked_at` datetime DEFAULT NULL,
  `amended_at` datetime DEFAULT NULL,
  `version` int(11) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_clinical_notes_patient_status` (`patient_id`,`note_status`,`created_at`),
  KEY `idx_clinical_notes_visit_status` (`visit_id`,`note_status`,`created_at`),
  KEY `idx_clinical_notes_author_status` (`author_id`,`note_status`,`updated_at`),
  KEY `idx_clinical_notes_department` (`department_id`,`created_at`),
  KEY `idx_clinical_notes_type` (`note_type`,`note_status`,`created_at`),
  KEY `idx_clinical_notes_confidentiality` (`confidentiality_level`,`note_status`),
  KEY `fk_clinical_notes_signed_by` (`signed_by`),
  CONSTRAINT `fk_clinical_notes_author` FOREIGN KEY (`author_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_clinical_notes_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_clinical_notes_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_clinical_notes_signed_by` FOREIGN KEY (`signed_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_clinical_notes_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinical_notes`
--

LOCK TABLES `clinical_notes` WRITE;
/*!40000 ALTER TABLE `clinical_notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `clinical_notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `consultations`
--

DROP TABLE IF EXISTS `consultations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `consultations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `visit_id` int(11) NOT NULL,
  `patient_id` int(11) NOT NULL,
  `doctor_id` int(11) NOT NULL,
  `department_id` int(11) DEFAULT NULL,
  `presenting_complaint` text NOT NULL,
  `history_of_presenting_complaint` text NOT NULL,
  `examination_findings` text NOT NULL,
  `assessment` text NOT NULL,
  `diagnosis` text NOT NULL,
  `treatment_plan` text NOT NULL,
  `advice` text DEFAULT NULL,
  `follow_up` text DEFAULT NULL,
  `referral_notes` text DEFAULT NULL,
  `status` enum('Draft','Completed') NOT NULL DEFAULT 'Draft',
  `created_by` int(11) NOT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `completed_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `completed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_consultations_visit` (`visit_id`),
  KEY `idx_consultations_patient_status` (`patient_id`,`status`,`created_at`),
  KEY `idx_consultations_doctor_status` (`doctor_id`,`status`,`created_at`),
  KEY `idx_consultations_department` (`department_id`,`created_at`),
  KEY `fk_consultations_created_by` (`created_by`),
  KEY `fk_consultations_updated_by` (`updated_by`),
  KEY `fk_consultations_completed_by` (`completed_by`),
  CONSTRAINT `fk_consultations_completed_by` FOREIGN KEY (`completed_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_consultations_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_consultations_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_consultations_doctor` FOREIGN KEY (`doctor_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_consultations_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_consultations_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_consultations_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consultations`
--

LOCK TABLES `consultations` WRITE;
/*!40000 ALTER TABLE `consultations` DISABLE KEYS */;
INSERT INTO `consultations` VALUES (1,2,2,5,4,'walt','akjhaj','ajahva','akjahga','ajavhga','ahjauya','ajah','amnahva','ajhavu','Completed',1,1,1,'2026-08-08 11:20:59','2026-08-08 11:21:20','2026-08-08 11:21:20'),(2,3,2,5,4,'zkzahja','aja0aia','ajhahga','ajhahga','ahaha','ajhagha','ajhaha','ahjah','ahjaha','Completed',1,1,1,'2026-08-08 11:52:51','2026-08-08 11:54:21','2026-08-08 11:54:21');
/*!40000 ALTER TABLE `consultations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department_notifications`
--

DROP TABLE IF EXISTS `department_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `department_notifications` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `visit_id` int(11) NOT NULL,
  `patient_id` int(11) NOT NULL,
  `from_department_id` int(11) DEFAULT NULL,
  `to_department_id` int(11) NOT NULL,
  `sent_by` int(11) NOT NULL,
  `reason` text NOT NULL,
  `status` enum('Unread','Read','Resolved') NOT NULL DEFAULT 'Unread',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `read_by` int(11) DEFAULT NULL,
  `read_at` datetime DEFAULT NULL,
  `resolved_by` int(11) DEFAULT NULL,
  `resolved_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_department_notifications_to_status` (`to_department_id`,`status`,`created_at`),
  KEY `idx_department_notifications_visit` (`visit_id`,`created_at`),
  KEY `idx_department_notifications_patient` (`patient_id`,`created_at`),
  KEY `idx_department_notifications_sender` (`sent_by`,`created_at`),
  KEY `fk_department_notifications_from_department` (`from_department_id`),
  KEY `fk_department_notifications_read_by` (`read_by`),
  KEY `fk_department_notifications_resolved_by` (`resolved_by`),
  CONSTRAINT `fk_department_notifications_from_department` FOREIGN KEY (`from_department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_department_notifications_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_department_notifications_read_by` FOREIGN KEY (`read_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_department_notifications_resolved_by` FOREIGN KEY (`resolved_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_department_notifications_sent_by` FOREIGN KEY (`sent_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_department_notifications_to_department` FOREIGN KEY (`to_department_id`) REFERENCES `departments` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_department_notifications_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department_notifications`
--

LOCK TABLES `department_notifications` WRITE;
/*!40000 ALTER TABLE `department_notifications` DISABLE KEYS */;
INSERT INTO `department_notifications` VALUES (1,2,2,4,7,1,'need drugs for patient','Unread','2026-08-08 11:24:15',NULL,NULL,NULL,NULL),(2,2,2,4,1,1,'need drugs','Resolved','2026-08-08 11:24:53',1,'2026-08-08 11:25:47',1,'2026-08-08 21:05:18'),(3,3,2,4,5,1,'testing','Unread','2026-08-08 12:28:10',NULL,NULL,NULL,NULL),(4,3,2,4,5,1,'testing2','Unread','2026-08-08 12:30:50',NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `department_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `department_name` varchar(100) NOT NULL,
  `department_code` varchar(30) NOT NULL,
  `description` text DEFAULT NULL,
  `location` varchar(150) DEFAULT NULL,
  `contact_extension` varchar(30) DEFAULT NULL,
  `department_type` enum('Clinical','Administrative','Diagnostic','Support') NOT NULL DEFAULT 'Support',
  `queue_enabled` tinyint(1) NOT NULL DEFAULT 1,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `display_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_departments_name` (`department_name`),
  UNIQUE KEY `uq_departments_code` (`department_code`),
  KEY `idx_departments_active` (`is_active`),
  KEY `idx_departments_type` (`department_type`),
  KEY `idx_departments_queue` (`queue_enabled`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encounter_events`
--

DROP TABLE IF EXISTS `encounter_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `encounter_events` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `visit_id` int(11) NOT NULL,
  `event_type` varchar(100) NOT NULL,
  `event_title` varchar(150) NOT NULL,
  `event_description` text DEFAULT NULL,
  `department_id` int(11) DEFAULT NULL,
  `performed_by` int(11) DEFAULT NULL,
  `event_time` datetime NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_encounter_events_visit_time` (`visit_id`,`event_time`,`id`),
  KEY `idx_encounter_events_department` (`department_id`),
  KEY `idx_encounter_events_performed_by` (`performed_by`),
  CONSTRAINT `fk_encounter_events_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_encounter_events_performed_by` FOREIGN KEY (`performed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_encounter_events_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encounter_events`
--

LOCK TABLES `encounter_events` WRITE;
/*!40000 ALTER TABLE `encounter_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `encounter_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medical_document_versions`
--

DROP TABLE IF EXISTS `medical_document_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medical_document_versions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `document_id` bigint(20) NOT NULL,
  `version_number` int(11) NOT NULL,
  `storage_provider` varchar(40) NOT NULL DEFAULT 'local',
  `storage_key` varchar(191) CHARACTER SET ascii COLLATE ascii_bin NOT NULL,
  `original_filename` varchar(255) NOT NULL,
  `stored_filename` varchar(191) CHARACTER SET ascii COLLATE ascii_bin NOT NULL,
  `mime_type` varchar(120) NOT NULL,
  `file_extension` varchar(20) NOT NULL,
  `file_size` bigint(20) unsigned NOT NULL,
  `sha256_checksum` char(64) CHARACTER SET ascii COLLATE ascii_bin NOT NULL,
  `upload_status` enum('Pending','Available','Quarantined','Rejected') NOT NULL DEFAULT 'Pending',
  `malware_scan_status` enum('Not Scanned','Clean','Suspicious','Infected','Scan Failed') NOT NULL DEFAULT 'Not Scanned',
  `malware_scan_reference` varchar(191) DEFAULT NULL,
  `uploaded_by` int(11) NOT NULL,
  `uploaded_at` datetime NOT NULL DEFAULT current_timestamp(),
  `replacement_reason` text DEFAULT NULL,
  `supersedes_version_id` bigint(20) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_medical_document_version` (`document_id`,`version_number`),
  UNIQUE KEY `uq_medical_document_storage_key` (`storage_key`),
  KEY `idx_medical_document_versions_document` (`document_id`,`uploaded_at`),
  KEY `idx_medical_document_versions_status` (`upload_status`,`malware_scan_status`),
  KEY `idx_medical_document_versions_uploader` (`uploaded_by`,`uploaded_at`),
  KEY `idx_medical_document_versions_checksum` (`sha256_checksum`),
  KEY `idx_medical_document_versions_supersedes` (`supersedes_version_id`),
  CONSTRAINT `fk_medical_document_versions_document` FOREIGN KEY (`document_id`) REFERENCES `medical_documents` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_medical_document_versions_supersedes` FOREIGN KEY (`supersedes_version_id`) REFERENCES `medical_document_versions` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_medical_document_versions_uploader` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medical_document_versions`
--

LOCK TABLES `medical_document_versions` WRITE;
/*!40000 ALTER TABLE `medical_document_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `medical_document_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medical_documents`
--

DROP TABLE IF EXISTS `medical_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medical_documents` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `patient_id` int(11) NOT NULL,
  `visit_id` int(11) DEFAULT NULL,
  `document_type` varchar(80) NOT NULL,
  `title` varchar(200) NOT NULL,
  `description` text DEFAULT NULL,
  `department_id` int(11) DEFAULT NULL,
  `confidentiality_level` enum('Standard','Restricted','Confidential','Highly Confidential') NOT NULL DEFAULT 'Standard',
  `document_status` enum('Active','Archived','Entered-in-error') NOT NULL DEFAULT 'Active',
  `current_version` int(11) NOT NULL DEFAULT 1,
  `uploaded_by` int(11) NOT NULL,
  `archived_by` int(11) DEFAULT NULL,
  `archived_at` datetime DEFAULT NULL,
  `archive_reason` text DEFAULT NULL,
  `version` int(11) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_medical_documents_patient_status` (`patient_id`,`document_status`,`created_at`),
  KEY `idx_medical_documents_visit_status` (`visit_id`,`document_status`,`created_at`),
  KEY `idx_medical_documents_type` (`document_type`,`document_status`),
  KEY `idx_medical_documents_confidentiality` (`confidentiality_level`,`document_status`),
  KEY `idx_medical_documents_department` (`department_id`,`created_at`),
  KEY `idx_medical_documents_uploader` (`uploaded_by`,`created_at`),
  KEY `fk_medical_documents_archived_by` (`archived_by`),
  CONSTRAINT `fk_medical_documents_archived_by` FOREIGN KEY (`archived_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_medical_documents_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_medical_documents_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_medical_documents_uploaded_by` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_medical_documents_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medical_documents`
--

LOCK TABLES `medical_documents` WRITE;
/*!40000 ALTER TABLE `medical_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `medical_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nursing_assessments`
--

DROP TABLE IF EXISTS `nursing_assessments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nursing_assessments` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `visit_id` int(11) NOT NULL,
  `patient_id` int(11) NOT NULL,
  `nurse_id` int(11) DEFAULT NULL,
  `department_id` int(11) DEFAULT NULL,
  `general_condition` text DEFAULT NULL,
  `nursing_observation` text DEFAULT NULL,
  `pain_assessment` text DEFAULT NULL,
  `mobility` text DEFAULT NULL,
  `nutrition` text DEFAULT NULL,
  `elimination` text DEFAULT NULL,
  `skin_assessment` text DEFAULT NULL,
  `fall_risk` text DEFAULT NULL,
  `nursing_interventions` text DEFAULT NULL,
  `patient_response` text DEFAULT NULL,
  `handover_notes` text DEFAULT NULL,
  `additional_notes` text DEFAULT NULL,
  `status` enum('Draft','Completed') NOT NULL DEFAULT 'Draft',
  `created_by` int(11) NOT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `completed_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `completed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_nursing_assessments_visit` (`visit_id`),
  KEY `idx_nursing_assessments_patient_created` (`patient_id`,`created_at`),
  KEY `idx_nursing_assessments_nurse_created` (`nurse_id`,`created_at`),
  KEY `idx_nursing_assessments_department_created` (`department_id`,`created_at`),
  KEY `idx_nursing_assessments_status_created` (`status`,`created_at`),
  KEY `fk_nursing_assessments_created_by` (`created_by`),
  KEY `fk_nursing_assessments_updated_by` (`updated_by`),
  KEY `fk_nursing_assessments_completed_by` (`completed_by`),
  CONSTRAINT `fk_nursing_assessments_completed_by` FOREIGN KEY (`completed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_nursing_assessments_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_nursing_assessments_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_nursing_assessments_nurse` FOREIGN KEY (`nurse_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_nursing_assessments_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_nursing_assessments_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_nursing_assessments_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nursing_assessments`
--

LOCK TABLES `nursing_assessments` WRITE;
/*!40000 ALTER TABLE `nursing_assessments` DISABLE KEYS */;
INSERT INTO `nursing_assessments` VALUES (1,3,2,NULL,4,'aha','abab','abah','ahah','aah','ahah','ahah','ahah','ahah','ahah','ahahakjhahahahahahhahahahahahhahahahahhahahahahahahhahahahahahhahahahahhahahahahahahahahahhahahahahhahahaha','ahah','Draft',1,1,NULL,'2026-08-09 04:33:25','2026-08-09 04:34:14',NULL);
/*!40000 ALTER TABLE `nursing_assessments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_history`
--

DROP TABLE IF EXISTS `password_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_history` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `change_type` enum('Changed','Reset','Forced') NOT NULL,
  `changed_by` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_password_history_user_created` (`user_id`,`created_at`),
  KEY `fk_password_history_changed_by` (`changed_by`),
  CONSTRAINT `fk_password_history_changed_by` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_password_history_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_history`
--

LOCK TABLES `password_history` WRITE;
/*!40000 ALTER TABLE `password_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_alert_history`
--

DROP TABLE IF EXISTS `patient_alert_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patient_alert_history` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `alert_id` bigint(20) NOT NULL,
  `patient_id` int(11) NOT NULL,
  `version_no` int(11) NOT NULL,
  `action` varchar(50) NOT NULL,
  `previous_snapshot` longtext DEFAULT NULL,
  `new_snapshot` longtext NOT NULL,
  `reason` text NOT NULL,
  `changed_by` int(11) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_patient_alert_history_version` (`alert_id`,`version_no`),
  KEY `idx_alert_history_patient` (`patient_id`,`created_at`),
  KEY `idx_alert_history_actor` (`changed_by`,`created_at`),
  CONSTRAINT `fk_alert_history_actor` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_alert_history_alert` FOREIGN KEY (`alert_id`) REFERENCES `patient_alerts` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_alert_history_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_alert_history`
--

LOCK TABLES `patient_alert_history` WRITE;
/*!40000 ALTER TABLE `patient_alert_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_alert_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_alerts`
--

DROP TABLE IF EXISTS `patient_alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patient_alerts` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `patient_id` int(11) NOT NULL,
  `visit_id` int(11) DEFAULT NULL,
  `alert_type` enum('Clinical Risk','Infection Control','Fall Risk','Communication Need','Safeguarding','Special Handling','Other') NOT NULL,
  `title` varchar(150) NOT NULL,
  `normalized_title` varchar(150) NOT NULL,
  `active_alert_key` varchar(512) DEFAULT NULL,
  `reason` text NOT NULL,
  `priority` enum('Low','Medium','High','Critical') NOT NULL DEFAULT 'Medium',
  `confidentiality_level` enum('Standard','Restricted','Confidential') NOT NULL DEFAULT 'Standard',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `starts_at` datetime DEFAULT NULL,
  `expires_at` datetime DEFAULT NULL,
  `created_by` int(11) NOT NULL,
  `closed_by` int(11) DEFAULT NULL,
  `closed_at` datetime DEFAULT NULL,
  `closure_reason` text DEFAULT NULL,
  `version` int(11) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_patient_alert_active` (`active_alert_key`),
  KEY `idx_patient_alerts_patient_active` (`patient_id`,`is_active`,`priority`),
  KEY `idx_patient_alerts_effective` (`patient_id`,`is_active`,`starts_at`,`expires_at`),
  KEY `idx_patient_alerts_type_title` (`alert_type`,`normalized_title`,`is_active`),
  KEY `idx_patient_alerts_visit` (`visit_id`),
  KEY `idx_patient_alerts_confidentiality` (`confidentiality_level`,`is_active`),
  KEY `fk_patient_alerts_created_by` (`created_by`),
  KEY `fk_patient_alerts_closed_by` (`closed_by`),
  CONSTRAINT `fk_patient_alerts_closed_by` FOREIGN KEY (`closed_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_alerts_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_alerts_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_alerts_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_alerts`
--

LOCK TABLES `patient_alerts` WRITE;
/*!40000 ALTER TABLE `patient_alerts` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_allergies`
--

DROP TABLE IF EXISTS `patient_allergies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patient_allergies` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `patient_id` int(11) NOT NULL,
  `source_visit_id` int(11) DEFAULT NULL,
  `allergy_type` enum('Drug','Food','Environmental','Biological','Other') NOT NULL,
  `substance` varchar(150) NOT NULL,
  `normalized_substance` varchar(150) NOT NULL,
  `active_allergy_key` varchar(512) DEFAULT NULL,
  `reaction` varchar(500) DEFAULT NULL,
  `severity` enum('Mild','Moderate','Severe','Life-threatening','Unknown') NOT NULL DEFAULT 'Unknown',
  `clinical_status` enum('Active','Inactive','Resolved','Entered-in-error') NOT NULL DEFAULT 'Active',
  `verification_status` enum('Unverified','Confirmed','Refuted') NOT NULL DEFAULT 'Unverified',
  `onset_date` date DEFAULT NULL,
  `recorded_by` int(11) NOT NULL,
  `recorded_at` datetime NOT NULL DEFAULT current_timestamp(),
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `resolved_by` int(11) DEFAULT NULL,
  `resolved_at` datetime DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `version` int(11) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_patient_allergy_active` (`active_allergy_key`),
  KEY `idx_patient_allergies_patient_status` (`patient_id`,`clinical_status`,`severity`),
  KEY `idx_patient_allergies_substance` (`normalized_substance`,`clinical_status`),
  KEY `idx_patient_allergies_visit` (`source_visit_id`),
  KEY `idx_patient_allergies_verification` (`verification_status`,`verified_at`),
  KEY `fk_patient_allergies_recorded_by` (`recorded_by`),
  KEY `fk_patient_allergies_verified_by` (`verified_by`),
  KEY `fk_patient_allergies_resolved_by` (`resolved_by`),
  CONSTRAINT `fk_patient_allergies_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_allergies_recorded_by` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_allergies_resolved_by` FOREIGN KEY (`resolved_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_allergies_verified_by` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_allergies_visit` FOREIGN KEY (`source_visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_allergies`
--

LOCK TABLES `patient_allergies` WRITE;
/*!40000 ALTER TABLE `patient_allergies` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_allergies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_allergy_history`
--

DROP TABLE IF EXISTS `patient_allergy_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patient_allergy_history` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `allergy_id` bigint(20) NOT NULL,
  `patient_id` int(11) NOT NULL,
  `version_no` int(11) NOT NULL,
  `action` varchar(50) NOT NULL,
  `previous_snapshot` longtext DEFAULT NULL,
  `new_snapshot` longtext NOT NULL,
  `reason` text NOT NULL,
  `changed_by` int(11) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_patient_allergy_history_version` (`allergy_id`,`version_no`),
  KEY `idx_allergy_history_patient` (`patient_id`,`created_at`),
  KEY `idx_allergy_history_actor` (`changed_by`,`created_at`),
  CONSTRAINT `fk_allergy_history_actor` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_allergy_history_allergy` FOREIGN KEY (`allergy_id`) REFERENCES `patient_allergies` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_allergy_history_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_allergy_history`
--

LOCK TABLES `patient_allergy_history` WRITE;
/*!40000 ALTER TABLE `patient_allergy_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_allergy_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_demographic_history`
--

DROP TABLE IF EXISTS `patient_demographic_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patient_demographic_history` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `patient_id` int(11) NOT NULL,
  `amendment_id` bigint(20) NOT NULL,
  `version_no` int(11) NOT NULL,
  `previous_values` longtext NOT NULL,
  `new_values` longtext NOT NULL,
  `changed_fields` longtext NOT NULL,
  `reason` text NOT NULL,
  `changed_by` int(11) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_patient_demographic_history_version` (`patient_id`,`version_no`),
  KEY `idx_patient_demographic_history_created` (`patient_id`,`created_at`),
  KEY `idx_patient_demographic_history_actor` (`changed_by`,`created_at`),
  KEY `idx_patient_demographic_history_amendment` (`amendment_id`),
  CONSTRAINT `fk_patient_demographic_history_actor` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_demographic_history_amendment` FOREIGN KEY (`amendment_id`) REFERENCES `record_amendments` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_demographic_history_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_demographic_history`
--

LOCK TABLES `patient_demographic_history` WRITE;
/*!40000 ALTER TABLE `patient_demographic_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_demographic_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_duplicate_candidates`
--

DROP TABLE IF EXISTS `patient_duplicate_candidates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patient_duplicate_candidates` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `patient_id_low` int(11) NOT NULL,
  `patient_id_high` int(11) NOT NULL,
  `match_score` decimal(5,2) NOT NULL,
  `classification` enum('Exact Match','Strong Possible Match','Possible Match','Low Confidence') NOT NULL,
  `matched_factors` longtext NOT NULL,
  `status` enum('Pending','Confirmed Duplicate','Not Duplicate','Deferred','Merge Requested') NOT NULL DEFAULT 'Pending',
  `review_decision` varchar(100) DEFAULT NULL,
  `review_reason` text DEFAULT NULL,
  `detected_by` int(11) DEFAULT NULL,
  `detected_at` datetime NOT NULL DEFAULT current_timestamp(),
  `reviewed_by` int(11) DEFAULT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  `version` int(11) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_duplicate_candidate_pair` (`patient_id_low`,`patient_id_high`),
  KEY `idx_duplicate_candidates_status` (`status`,`classification`,`detected_at`),
  KEY `idx_duplicate_candidates_low` (`patient_id_low`,`status`),
  KEY `idx_duplicate_candidates_high` (`patient_id_high`,`status`),
  KEY `fk_duplicate_candidates_detected_by` (`detected_by`),
  KEY `fk_duplicate_candidates_reviewed_by` (`reviewed_by`),
  CONSTRAINT `fk_duplicate_candidates_detected_by` FOREIGN KEY (`detected_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_duplicate_candidates_high` FOREIGN KEY (`patient_id_high`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_duplicate_candidates_low` FOREIGN KEY (`patient_id_low`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_duplicate_candidates_reviewed_by` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `CONSTRAINT_1` CHECK (`patient_id_low` < `patient_id_high`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_duplicate_candidates`
--

LOCK TABLES `patient_duplicate_candidates` WRITE;
/*!40000 ALTER TABLE `patient_duplicate_candidates` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_duplicate_candidates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_identifier_history`
--

DROP TABLE IF EXISTS `patient_identifier_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patient_identifier_history` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `identifier_id` bigint(20) NOT NULL,
  `patient_id` int(11) NOT NULL,
  `version_no` int(11) NOT NULL,
  `action` varchar(50) NOT NULL,
  `previous_snapshot` longtext DEFAULT NULL,
  `new_snapshot` longtext NOT NULL,
  `reason` text NOT NULL,
  `changed_by` int(11) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_patient_identifier_history_version` (`identifier_id`,`version_no`),
  KEY `idx_identifier_history_patient` (`patient_id`,`created_at`),
  KEY `idx_identifier_history_actor` (`changed_by`,`created_at`),
  CONSTRAINT `fk_identifier_history_actor` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_identifier_history_identifier` FOREIGN KEY (`identifier_id`) REFERENCES `patient_identifiers` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_identifier_history_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_identifier_history`
--

LOCK TABLES `patient_identifier_history` WRITE;
/*!40000 ALTER TABLE `patient_identifier_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_identifier_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_identifiers`
--

DROP TABLE IF EXISTS `patient_identifiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patient_identifiers` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `patient_id` int(11) NOT NULL,
  `identifier_type` varchar(80) NOT NULL,
  `identifier_value` varchar(255) NOT NULL,
  `normalized_value` varchar(255) NOT NULL,
  `issuing_authority` varchar(150) DEFAULT NULL,
  `issuing_authority_key` varchar(150) NOT NULL DEFAULT '',
  `uniqueness_scope` enum('Global','Authority','Patient','None') NOT NULL DEFAULT 'Patient',
  `uniqueness_key` varchar(512) DEFAULT NULL,
  `issue_date` date DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `is_primary` tinyint(1) NOT NULL DEFAULT 0,
  `primary_key_value` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `verification_status` enum('Unverified','Verified','Rejected') NOT NULL DEFAULT 'Unverified',
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `created_by` int(11) NOT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `version` int(11) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_patient_identifier_uniqueness` (`uniqueness_key`),
  UNIQUE KEY `uq_patient_identifier_primary` (`primary_key_value`),
  KEY `idx_patient_identifiers_patient` (`patient_id`,`is_active`,`identifier_type`),
  KEY `idx_patient_identifiers_lookup` (`identifier_type`,`normalized_value`,`is_active`),
  KEY `idx_patient_identifiers_authority` (`identifier_type`,`issuing_authority_key`,`normalized_value`),
  KEY `idx_patient_identifiers_verification` (`verification_status`,`verified_at`),
  KEY `fk_patient_identifiers_verified_by` (`verified_by`),
  KEY `fk_patient_identifiers_created_by` (`created_by`),
  KEY `fk_patient_identifiers_updated_by` (`updated_by`),
  CONSTRAINT `fk_patient_identifiers_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_identifiers_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_identifiers_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_identifiers_verified_by` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_identifiers`
--

LOCK TABLES `patient_identifiers` WRITE;
/*!40000 ALTER TABLE `patient_identifiers` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_identifiers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_medical_history`
--

DROP TABLE IF EXISTS `patient_medical_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patient_medical_history` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `patient_id` int(11) NOT NULL,
  `source_visit_id` int(11) DEFAULT NULL,
  `history_type` enum('Past Medical History','Surgical History','Family History','Social History','Obstetric History','Immunization History','Previous Hospitalization','Previous Procedure','Other') NOT NULL,
  `title` varchar(200) NOT NULL,
  `normalized_title` varchar(200) NOT NULL,
  `description` text NOT NULL,
  `event_date` date DEFAULT NULL,
  `date_precision` enum('Exact','Month','Year','Unknown') NOT NULL DEFAULT 'Unknown',
  `status` enum('Active','Historical','Entered-in-error') NOT NULL DEFAULT 'Historical',
  `source` varchar(150) DEFAULT NULL,
  `confidentiality_level` enum('Standard','Restricted','Confidential') NOT NULL DEFAULT 'Standard',
  `recorded_by` int(11) NOT NULL,
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `version` int(11) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_medical_history_patient_type` (`patient_id`,`history_type`,`status`),
  KEY `idx_medical_history_title` (`normalized_title`,`history_type`),
  KEY `idx_medical_history_event` (`patient_id`,`event_date`),
  KEY `idx_medical_history_visit` (`source_visit_id`),
  KEY `idx_medical_history_confidentiality` (`confidentiality_level`,`status`),
  KEY `fk_medical_history_recorded_by` (`recorded_by`),
  KEY `fk_medical_history_verified_by` (`verified_by`),
  CONSTRAINT `fk_medical_history_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_medical_history_recorded_by` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_medical_history_verified_by` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_medical_history_visit` FOREIGN KEY (`source_visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_medical_history`
--

LOCK TABLES `patient_medical_history` WRITE;
/*!40000 ALTER TABLE `patient_medical_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_medical_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_medical_history_versions`
--

DROP TABLE IF EXISTS `patient_medical_history_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patient_medical_history_versions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `history_entry_id` bigint(20) NOT NULL,
  `patient_id` int(11) NOT NULL,
  `version_no` int(11) NOT NULL,
  `action` varchar(60) NOT NULL,
  `previous_snapshot` longtext DEFAULT NULL,
  `new_snapshot` longtext NOT NULL,
  `reason` text NOT NULL,
  `confidentiality_level` enum('Standard','Restricted','Confidential') NOT NULL DEFAULT 'Standard',
  `changed_by` int(11) NOT NULL,
  `department_id` int(11) DEFAULT NULL,
  `visit_id` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_medical_history_version` (`history_entry_id`,`version_no`),
  KEY `idx_medical_history_versions_patient` (`patient_id`,`created_at`),
  KEY `idx_medical_history_versions_actor` (`changed_by`,`created_at`),
  KEY `idx_medical_history_versions_visit` (`visit_id`,`created_at`),
  KEY `idx_medical_history_versions_confidentiality` (`confidentiality_level`,`created_at`),
  KEY `fk_medical_history_versions_department` (`department_id`),
  CONSTRAINT `fk_medical_history_versions_actor` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_medical_history_versions_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_medical_history_versions_entry` FOREIGN KEY (`history_entry_id`) REFERENCES `patient_medical_history` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_medical_history_versions_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_medical_history_versions_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_medical_history_versions`
--

LOCK TABLES `patient_medical_history_versions` WRITE;
/*!40000 ALTER TABLE `patient_medical_history_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_medical_history_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_problem_history`
--

DROP TABLE IF EXISTS `patient_problem_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patient_problem_history` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `problem_id` bigint(20) NOT NULL,
  `patient_id` int(11) NOT NULL,
  `version_no` int(11) NOT NULL,
  `action` varchar(60) NOT NULL,
  `previous_snapshot` longtext DEFAULT NULL,
  `new_snapshot` longtext NOT NULL,
  `reason` text NOT NULL,
  `confidentiality_level` enum('Standard','Restricted','Confidential') NOT NULL DEFAULT 'Standard',
  `changed_by` int(11) NOT NULL,
  `department_id` int(11) DEFAULT NULL,
  `visit_id` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_patient_problem_history_version` (`problem_id`,`version_no`),
  KEY `idx_problem_history_patient` (`patient_id`,`created_at`),
  KEY `idx_problem_history_actor` (`changed_by`,`created_at`),
  KEY `idx_problem_history_visit` (`visit_id`,`created_at`),
  KEY `idx_problem_history_confidentiality` (`confidentiality_level`,`created_at`),
  KEY `fk_problem_history_department` (`department_id`),
  CONSTRAINT `fk_problem_history_actor` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_problem_history_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_problem_history_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_problem_history_problem` FOREIGN KEY (`problem_id`) REFERENCES `patient_problems` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_problem_history_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_problem_history`
--

LOCK TABLES `patient_problem_history` WRITE;
/*!40000 ALTER TABLE `patient_problem_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_problem_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_problems`
--

DROP TABLE IF EXISTS `patient_problems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patient_problems` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `patient_id` int(11) NOT NULL,
  `source_visit_id` int(11) DEFAULT NULL,
  `problem_code_system` varchar(80) DEFAULT NULL,
  `problem_code` varchar(80) DEFAULT NULL,
  `problem_name` varchar(200) NOT NULL,
  `normalized_problem_name` varchar(200) NOT NULL,
  `category` enum('Chronic Condition','Acute Problem','Historical Diagnosis','Surgical Condition','Risk Factor','Other') NOT NULL DEFAULT 'Other',
  `clinical_status` enum('Active','Inactive','Resolved','Entered-in-error') NOT NULL DEFAULT 'Active',
  `verification_status` enum('Unverified','Confirmed','Refuted') NOT NULL DEFAULT 'Unverified',
  `severity` enum('Mild','Moderate','Severe','Unknown') NOT NULL DEFAULT 'Unknown',
  `confidentiality_level` enum('Standard','Restricted','Confidential') NOT NULL DEFAULT 'Standard',
  `onset_date` date DEFAULT NULL,
  `recorded_date` date NOT NULL,
  `resolved_date` date DEFAULT NULL,
  `active_problem_key` varchar(512) DEFAULT NULL,
  `recorded_by` int(11) NOT NULL,
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `resolved_by` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `version` int(11) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_patient_problem_active` (`active_problem_key`),
  KEY `idx_patient_problems_status` (`patient_id`,`clinical_status`,`verification_status`),
  KEY `idx_patient_problems_severity` (`patient_id`,`clinical_status`,`severity`),
  KEY `idx_patient_problems_name` (`normalized_problem_name`,`clinical_status`),
  KEY `idx_patient_problems_code` (`problem_code_system`,`problem_code`),
  KEY `idx_patient_problems_visit` (`source_visit_id`),
  KEY `idx_patient_problems_confidentiality` (`confidentiality_level`,`clinical_status`),
  KEY `fk_patient_problems_recorded_by` (`recorded_by`),
  KEY `fk_patient_problems_verified_by` (`verified_by`),
  KEY `fk_patient_problems_resolved_by` (`resolved_by`),
  CONSTRAINT `fk_patient_problems_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_problems_recorded_by` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_problems_resolved_by` FOREIGN KEY (`resolved_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_problems_verified_by` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_patient_problems_visit` FOREIGN KEY (`source_visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_problems`
--

LOCK TABLES `patient_problems` WRITE;
/*!40000 ALTER TABLE `patient_problems` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_problems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patients`
--

DROP TABLE IF EXISTS `patients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patients` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hospital_number` varchar(30) DEFAULT NULL,
  `first_name` varchar(100) NOT NULL,
  `normalized_first_name` varchar(100) DEFAULT NULL,
  `middle_name` varchar(100) DEFAULT NULL,
  `normalized_middle_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) NOT NULL,
  `normalized_last_name` varchar(100) DEFAULT NULL,
  `gender` enum('Male','Female','Other','Unknown') NOT NULL,
  `date_of_birth` date NOT NULL,
  `marital_status` varchar(30) DEFAULT NULL,
  `occupation` varchar(100) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `normalized_phone` varchar(30) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `normalized_email` varchar(150) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `state_of_origin` varchar(100) DEFAULT NULL,
  `nationality` varchar(100) DEFAULT NULL,
  `blood_group` varchar(5) DEFAULT NULL,
  `genotype` varchar(5) DEFAULT NULL,
  `allergies` text DEFAULT NULL,
  `next_of_kin` varchar(150) DEFAULT NULL,
  `next_of_kin_relationship` varchar(100) DEFAULT NULL,
  `next_of_kin_phone` varchar(20) DEFAULT NULL,
  `registered_by` int(11) DEFAULT NULL,
  `demographic_version` int(11) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_patients_hospital_number` (`hospital_number`),
  KEY `idx_patients_last_name` (`last_name`),
  KEY `idx_patients_first_name` (`first_name`),
  KEY `idx_patients_phone` (`phone`),
  KEY `idx_patients_registered_by` (`registered_by`),
  KEY `idx_patients_demographic_version` (`id`,`demographic_version`),
  KEY `idx_patients_normalized_name` (`normalized_last_name`,`normalized_first_name`,`date_of_birth`),
  KEY `idx_patients_normalized_phone` (`normalized_phone`),
  KEY `idx_patients_normalized_email` (`normalized_email`),
  KEY `idx_patients_dob_normalized_name` (`date_of_birth`,`normalized_last_name`,`normalized_first_name`),
  CONSTRAINT `fk_patients_registered_by` FOREIGN KEY (`registered_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patients`
--

LOCK TABLES `patients` WRITE;
/*!40000 ALTER TABLE `patients` DISABLE KEYS */;
INSERT INTO `patients` VALUES (2,'DEV-PATIENT-0001','Development','development',NULL,NULL,'PatientOne','patientone','Unknown','1985-01-15',NULL,NULL,'08000000001','08000000001',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,1,'2026-08-05 04:48:53',NULL),(3,'DEV-PATIENT-0002','Development','development',NULL,NULL,'PatientTwo','patienttwo','Unknown','1992-06-30',NULL,NULL,'08000000002','08000000002',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,1,'2026-08-05 04:48:53',NULL);
/*!40000 ALTER TABLE `patients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `permission_key` varchar(100) NOT NULL,
  `permission_name` varchar(150) NOT NULL,
  `module` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_permissions_key` (`permission_key`),
  KEY `idx_permissions_module` (`module`),
  KEY `idx_permissions_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=74 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phase1_patient_gender_repair`
--

DROP TABLE IF EXISTS `phase1_patient_gender_repair`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `phase1_patient_gender_repair` (
  `patient_id` int(11) NOT NULL,
  `previous_gender` varchar(30) NOT NULL,
  `repaired_gender` varchar(30) NOT NULL,
  `repaired_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`patient_id`),
  CONSTRAINT `fk_phase1_patient_gender_repair_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phase1_patient_gender_repair`
--

LOCK TABLES `phase1_patient_gender_repair` WRITE;
/*!40000 ALTER TABLE `phase1_patient_gender_repair` DISABLE KEYS */;
/*!40000 ALTER TABLE `phase1_patient_gender_repair` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phase1_visit_status_repair`
--

DROP TABLE IF EXISTS `phase1_visit_status_repair`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `phase1_visit_status_repair` (
  `visit_id` int(11) NOT NULL,
  `previous_status` varchar(50) NOT NULL,
  `repaired_status` varchar(50) NOT NULL,
  `repaired_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`visit_id`),
  CONSTRAINT `fk_phase1_status_repair_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phase1_visit_status_repair`
--

LOCK TABLES `phase1_visit_status_repair` WRITE;
/*!40000 ALTER TABLE `phase1_visit_status_repair` DISABLE KEYS */;
/*!40000 ALTER TABLE `phase1_visit_status_repair` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `record_access_logs`
--

DROP TABLE IF EXISTS `record_access_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `record_access_logs` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `patient_id` int(11) NOT NULL,
  `visit_id` int(11) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  `department_id` int(11) DEFAULT NULL,
  `access_type` varchar(100) NOT NULL,
  `resource_type` varchar(100) NOT NULL,
  `resource_id` bigint(20) DEFAULT NULL,
  `access_reason` varchar(255) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_record_access_patient_created` (`patient_id`,`created_at`),
  KEY `idx_record_access_user_created` (`user_id`,`created_at`),
  KEY `idx_record_access_department_created` (`department_id`,`created_at`),
  KEY `idx_record_access_visit` (`visit_id`),
  KEY `idx_record_access_resource` (`resource_type`,`resource_id`,`created_at`),
  CONSTRAINT `fk_record_access_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_record_access_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_record_access_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_record_access_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `record_access_logs`
--

LOCK TABLES `record_access_logs` WRITE;
/*!40000 ALTER TABLE `record_access_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `record_access_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `record_amendments`
--

DROP TABLE IF EXISTS `record_amendments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `record_amendments` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `patient_id` int(11) NOT NULL,
  `visit_id` int(11) DEFAULT NULL,
  `record_type` varchar(100) NOT NULL,
  `record_id` bigint(20) DEFAULT NULL,
  `proposed_changes` longtext NOT NULL,
  `reason` text NOT NULL,
  `status` enum('Requested','Approved','Rejected','Applied') NOT NULL DEFAULT 'Requested',
  `requested_by` int(11) NOT NULL,
  `reviewed_by` int(11) DEFAULT NULL,
  `requested_at` datetime NOT NULL DEFAULT current_timestamp(),
  `reviewed_at` datetime DEFAULT NULL,
  `applied_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_record_amendments_patient_status` (`patient_id`,`status`,`requested_at`),
  KEY `idx_record_amendments_visit` (`visit_id`),
  KEY `idx_record_amendments_record` (`record_type`,`record_id`),
  KEY `idx_record_amendments_requested_by` (`requested_by`,`requested_at`),
  KEY `fk_record_amendments_reviewed_by` (`reviewed_by`),
  CONSTRAINT `fk_record_amendments_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_record_amendments_requested_by` FOREIGN KEY (`requested_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_record_amendments_reviewed_by` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_record_amendments_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `record_amendments`
--

LOCK TABLES `record_amendments` WRITE;
/*!40000 ALTER TABLE `record_amendments` DISABLE KEYS */;
/*!40000 ALTER TABLE `record_amendments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permissions`
--

DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role_permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `role_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  `assigned_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_role_permissions` (`role_id`,`permission_id`),
  KEY `idx_role_permissions_role` (`role_id`),
  KEY `idx_role_permissions_permission` (`permission_id`),
  KEY `fk_role_permissions_assigned_by` (`assigned_by`),
  CONSTRAINT `fk_role_permissions_assigned_by` FOREIGN KEY (`assigned_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_role_permissions_permission` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_role_permissions_role` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=267 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permissions`
--

LOCK TABLES `role_permissions` WRITE;
/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `role_name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_roles_name` (`role_name`),
  KEY `idx_roles_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schema_migrations`
--

DROP TABLE IF EXISTS `schema_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schema_migrations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `migration_name` varchar(255) NOT NULL,
  `checksum` char(64) NOT NULL,
  `batch` int(11) NOT NULL,
  `applied_at` datetime NOT NULL DEFAULT current_timestamp(),
  `execution_time_ms` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_schema_migrations_name` (`migration_name`),
  KEY `idx_schema_migrations_batch` (`batch`,`applied_at`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schema_migrations`
--

LOCK TABLES `schema_migrations` WRITE;
/*!40000 ALTER TABLE `schema_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `schema_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_setting_history`
--

DROP TABLE IF EXISTS `system_setting_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_setting_history` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `setting_id` bigint(20) DEFAULT NULL,
  `setting_key` varchar(191) NOT NULL,
  `setting_group` varchar(100) NOT NULL,
  `action` varchar(50) NOT NULL,
  `old_value` longtext DEFAULT NULL,
  `new_value` longtext DEFAULT NULL,
  `is_sensitive` tinyint(1) NOT NULL DEFAULT 0,
  `changed_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_setting_history_setting_created` (`setting_id`,`created_at`),
  KEY `idx_setting_history_key_created` (`setting_key`,`created_at`),
  KEY `idx_setting_history_group_created` (`setting_group`,`created_at`),
  KEY `idx_setting_history_actor_created` (`changed_by`,`created_at`),
  CONSTRAINT `fk_setting_history_changed_by` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_setting_history_setting` FOREIGN KEY (`setting_id`) REFERENCES `system_settings` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_setting_history`
--

LOCK TABLES `system_setting_history` WRITE;
/*!40000 ALTER TABLE `system_setting_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_setting_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_settings` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(191) NOT NULL,
  `setting_value` longtext DEFAULT NULL,
  `setting_type` varchar(30) NOT NULL DEFAULT 'string',
  `setting_group` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `default_value` longtext DEFAULT NULL,
  `validation_rules` text DEFAULT NULL,
  `is_public` tinyint(1) NOT NULL DEFAULT 0,
  `is_editable` tinyint(1) NOT NULL DEFAULT 1,
  `is_system` tinyint(1) NOT NULL DEFAULT 0,
  `is_sensitive` tinyint(1) NOT NULL DEFAULT 0,
  `is_encrypted` tinyint(1) NOT NULL DEFAULT 0,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_by` int(11) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_system_settings_key` (`setting_key`),
  KEY `idx_system_settings_group_order` (`setting_group`,`sort_order`,`setting_key`),
  KEY `idx_system_settings_public` (`is_public`,`setting_group`),
  KEY `idx_system_settings_system` (`is_system`,`is_editable`),
  KEY `fk_system_settings_created_by` (`created_by`),
  KEY `fk_system_settings_updated_by` (`updated_by`),
  CONSTRAINT `fk_system_settings_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_system_settings_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=94 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_departments`
--

DROP TABLE IF EXISTS `user_departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_departments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `department_id` int(11) NOT NULL,
  `is_primary` tinyint(1) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `assigned_at` datetime NOT NULL DEFAULT current_timestamp(),
  `assigned_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_department` (`user_id`,`department_id`),
  KEY `idx_user_departments_user_active` (`user_id`,`is_active`),
  KEY `idx_user_departments_department_active` (`department_id`,`is_active`),
  KEY `idx_user_departments_primary` (`user_id`,`is_primary`),
  KEY `fk_user_departments_assigned_by` (`assigned_by`),
  CONSTRAINT `fk_user_departments_assigned_by` FOREIGN KEY (`assigned_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_user_departments_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_user_departments_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_departments`
--

LOCK TABLES `user_departments` WRITE;
/*!40000 ALTER TABLE `user_departments` DISABLE KEYS */;
INSERT INTO `user_departments` VALUES (1,1,1,1,1,'2026-08-05 05:48:44',NULL),(2,2,2,1,1,'2026-08-05 05:48:53',1),(3,3,3,1,1,'2026-08-05 05:48:53',1),(4,4,5,1,1,'2026-08-05 05:48:53',1),(5,5,4,1,1,'2026-08-05 05:48:53',1),(6,6,6,1,1,'2026-08-05 05:48:53',1),(7,7,9,1,1,'2026-08-05 05:48:53',1),(8,8,7,1,1,'2026-08-05 05:48:53',1),(9,9,11,1,1,'2026-08-05 05:48:53',1);
/*!40000 ALTER TABLE `user_departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `employee_id` varchar(30) NOT NULL,
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `gender` enum('Male','Female') DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `department_id` int(11) NOT NULL,
  `role_id` int(11) NOT NULL,
  `status` enum('Active','Inactive') NOT NULL DEFAULT 'Active',
  `failed_login_attempts` int(11) NOT NULL DEFAULT 0,
  `last_failed_login` datetime DEFAULT NULL,
  `locked_at` datetime DEFAULT NULL,
  `locked_by` int(11) DEFAULT NULL,
  `lock_reason` varchar(255) DEFAULT NULL,
  `last_login` datetime DEFAULT NULL,
  `password_changed_at` datetime DEFAULT NULL,
  `must_change_password` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_users_employee` (`employee_id`),
  UNIQUE KEY `uq_users_username` (`username`),
  KEY `idx_users_department` (`department_id`),
  KEY `idx_users_role` (`role_id`),
  KEY `idx_users_status` (`status`),
  KEY `idx_users_lastname` (`last_name`),
  KEY `idx_users_firstname` (`first_name`),
  KEY `idx_users_locked_at` (`locked_at`),
  KEY `fk_users_locked_by` (`locked_by`),
  CONSTRAINT `fk_users_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_users_locked_by` FOREIGN KEY (`locked_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_users_role` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `visit_queue`
--

DROP TABLE IF EXISTS `visit_queue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `visit_queue` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `visit_id` int(11) NOT NULL,
  `department_id` int(11) NOT NULL,
  `assigned_user_id` int(11) DEFAULT NULL,
  `position` int(11) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `queue_status` enum('Waiting','Called','In Progress','Completed','Cancelled') NOT NULL DEFAULT 'Waiting',
  `queued_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `called_at` datetime DEFAULT NULL,
  `started_at` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `cancelled_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_queue_visit` (`visit_id`),
  KEY `idx_queue_department` (`department_id`),
  KEY `idx_queue_status` (`queue_status`),
  KEY `idx_queue_department_status_position` (`department_id`,`queue_status`,`position`,`queued_at`),
  KEY `idx_queue_visit_status` (`visit_id`,`queue_status`),
  KEY `idx_queue_queued_at` (`queued_at`),
  KEY `idx_queue_position` (`position`),
  KEY `fk_queue_assigned_user` (`assigned_user_id`),
  CONSTRAINT `fk_queue_assigned_user` FOREIGN KEY (`assigned_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_queue_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_queue_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `visit_queue`
--

LOCK TABLES `visit_queue` WRITE;
/*!40000 ALTER TABLE `visit_queue` DISABLE KEYS */;
INSERT INTO `visit_queue` VALUES (1,1,2,1,1,NULL,'Completed','2026-08-05 04:56:02','2026-08-05 05:56:02','2026-08-05 05:56:02','2026-08-05 05:56:02',NULL),(2,1,4,NULL,1,'Queue closed because the encounter was closed with status Completed.','Cancelled','2026-08-05 04:56:02',NULL,NULL,NULL,'2026-08-05 05:56:02'),(3,2,4,NULL,1,'Queue closed because the encounter was closed with status Completed.','Cancelled','2026-08-05 20:41:24',NULL,NULL,NULL,'2026-08-08 11:43:52'),(4,3,4,NULL,1,NULL,'Waiting','2026-08-08 10:44:27',NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `visit_queue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `visit_transfers`
--

DROP TABLE IF EXISTS `visit_transfers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `visit_transfers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `visit_id` int(11) NOT NULL,
  `from_department_id` int(11) DEFAULT NULL,
  `to_department_id` int(11) NOT NULL,
  `from_status` varchar(50) NOT NULL,
  `to_status` varchar(50) NOT NULL,
  `transfer_type` enum('Forward','Return','Referral','Discharge','Completion','Cancellation') NOT NULL DEFAULT 'Forward',
  `previous_status` varchar(50) DEFAULT NULL,
  `new_status` varchar(50) DEFAULT NULL,
  `transferred_by` int(11) NOT NULL,
  `remarks` text DEFAULT NULL,
  `transferred_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `received_by` int(11) DEFAULT NULL,
  `received_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_visit` (`visit_id`),
  KEY `idx_from_department` (`from_department_id`),
  KEY `idx_to_department` (`to_department_id`),
  KEY `idx_transferred_by` (`transferred_by`),
  KEY `idx_transfer_pending` (`visit_id`,`received_at`,`transferred_at`),
  KEY `idx_transfer_destination_pending` (`to_department_id`,`received_at`,`transferred_at`),
  KEY `fk_transfer_received_by` (`received_by`),
  CONSTRAINT `fk_transfer_from_department` FOREIGN KEY (`from_department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_transfer_received_by` FOREIGN KEY (`received_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_transfer_to_department` FOREIGN KEY (`to_department_id`) REFERENCES `departments` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_transfer_user` FOREIGN KEY (`transferred_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_transfer_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `visit_transfers`
--

LOCK TABLES `visit_transfers` WRITE;
/*!40000 ALTER TABLE `visit_transfers` DISABLE KEYS */;
INSERT INTO `visit_transfers` VALUES (1,1,2,4,'Reception','Doctor','Forward','Reception','Doctor',1,NULL,'2026-08-05 04:56:02',1,'2026-08-05 05:56:02');
/*!40000 ALTER TABLE `visit_transfers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `visits`
--

DROP TABLE IF EXISTS `visits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `visits` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `visit_number` varchar(30) NOT NULL,
  `patient_id` int(11) NOT NULL,
  `visit_date` datetime NOT NULL,
  `visit_type` enum('Outpatient','Inpatient','Emergency','Referral') NOT NULL DEFAULT 'Outpatient',
  `current_department_id` int(11) DEFAULT NULL,
  `attending_doctor_id` int(11) DEFAULT NULL,
  `queue_number` int(11) DEFAULT NULL,
  `current_department_received_status` enum('Pending','Received') NOT NULL DEFAULT 'Pending',
  `current_department_received_by` int(11) DEFAULT NULL,
  `current_department_received_at` datetime DEFAULT NULL,
  `visit_status` enum('Waiting','Reception','Records','Nursing','Doctor','Laboratory','X-Ray','Pharmacy','Physiotherapy','Theatre','Accounts','Store','Completed','Cancelled') NOT NULL DEFAULT 'Waiting',
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_visits_number` (`visit_number`),
  KEY `idx_visits_patient` (`patient_id`),
  KEY `idx_visits_department` (`current_department_id`),
  KEY `idx_visits_doctor` (`attending_doctor_id`),
  KEY `idx_visits_department_receive` (`current_department_id`,`current_department_received_status`),
  KEY `idx_visits_creator` (`created_by`),
  KEY `idx_visits_status` (`visit_status`),
  KEY `idx_visits_date` (`visit_date`),
  KEY `fk_visits_received_by` (`current_department_received_by`),
  CONSTRAINT `fk_visits_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_visits_department` FOREIGN KEY (`current_department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_visits_doctor` FOREIGN KEY (`attending_doctor_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_visits_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_visits_received_by` FOREIGN KEY (`current_department_received_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `visits`
--

LOCK TABLES `visits` WRITE;
/*!40000 ALTER TABLE `visits` DISABLE KEYS */;
INSERT INTO `visits` VALUES (1,'VIS-2026-000001',2,'2026-08-05 06:56:02','Outpatient',4,5,NULL,'Received',1,'2026-08-05 05:56:02','Completed',1,'2026-08-05 04:56:02','2026-08-05 04:56:02'),(2,'VIS-2026-000002',2,'2026-08-05 22:41:00','Inpatient',4,5,NULL,'Received',1,'2026-08-05 21:41:24','Completed',1,'2026-08-05 20:41:24','2026-08-08 10:43:52'),(3,'VIS-2026-000003',2,'2026-08-08 12:44:00','Emergency',4,5,NULL,'Received',1,'2026-08-08 11:44:27','Doctor',1,'2026-08-08 10:44:27','2026-08-08 10:52:08');
/*!40000 ALTER TABLE `visits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vital_signs`
--

DROP TABLE IF EXISTS `vital_signs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vital_signs` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `visit_id` int(11) NOT NULL,
  `patient_id` int(11) NOT NULL,
  `department_id` int(11) DEFAULT NULL,
  `recorded_by` int(11) NOT NULL,
  `temperature` decimal(5,2) DEFAULT NULL,
  `pulse` int(11) DEFAULT NULL,
  `respiratory_rate` int(11) DEFAULT NULL,
  `systolic_bp` int(11) DEFAULT NULL,
  `diastolic_bp` int(11) DEFAULT NULL,
  `oxygen_saturation` decimal(5,2) DEFAULT NULL,
  `weight` decimal(6,2) DEFAULT NULL,
  `height` decimal(6,2) DEFAULT NULL,
  `bmi` decimal(6,2) DEFAULT NULL,
  `blood_glucose` decimal(7,2) DEFAULT NULL,
  `pain_score` tinyint(4) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_vital_signs_visit_created` (`visit_id`,`created_at`),
  KEY `idx_vital_signs_patient_created` (`patient_id`,`created_at`),
  KEY `idx_vital_signs_recorded_by_created` (`recorded_by`,`created_at`),
  KEY `idx_vital_signs_department_created` (`department_id`,`created_at`),
  CONSTRAINT `fk_vital_signs_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_vital_signs_patient` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_vital_signs_recorded_by` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_vital_signs_visit` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vital_signs`
--

LOCK TABLES `vital_signs` WRITE;
/*!40000 ALTER TABLE `vital_signs` DISABLE KEYS */;
INSERT INTO `vital_signs` VALUES (1,3,2,4,1,37.00,234,34,41,35,20.00,67.00,183.00,20.01,272.00,4,'Looks fine','2026-08-08 21:03:31',NULL);
/*!40000 ALTER TABLE `vital_signs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-09  7:43:28
